/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/web/css/*
/web/js/*

# Symlinked development packages (if you're a user, install via Composer)
/src/Bc/Bundle/UserAdminBundle
/src/Bc/Bundle/UserBundle
/src/Bc/Bundle/DoctrineBundle

/.tags
/.tags_sorted_by_file

